<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unimelb.gof.wesnap">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_wesnap_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".friend.AddFriendChooserActivity"
            android:label="@string/action_add_friends">
        </activity>

        <activity
            android:name=".friend.ViewRequestsActivity"
            android:label="@string/action_view_requests">
        </activity>

        <activity
            android:name=".friend.SearchUsernameActivity"
            android:label="@string/action_search_username">
        </activity>

        <activity
            android:name=".friend.ViewFriendsActivity"
            android:label="@string/action_view_friends">
        </activity>

        <activity
            android:name=".memories.MemoriesActivity"
            android:label="@string/action_my_memories">
        </activity>

        <activity
            android:name=".memories.MemoryDetailsActivity"
            android:label="@string/action_my_memories">
        </activity>

        <activity
            android:name=".chat.ChooseFriendActivity"
            android:label="@string/action_chat_with">
        </activity>

        <activity
            android:name=".chat.MessagesActivity">
        </activity>
        
        <activity 
            android:name=".camera.EditPhotoActivity"
            android:label="@string/action_edit_photo">
        </activity>

        <activity
            android:name=".camera.FreehandDrawActivity"
            android:label="@string/action_edit_photo">
        </activity>

        <activity
            android:name=".camera.TextDrawActivity"
            android:label="@string/text_draw_text_tip">
        </activity>

        <activity
            android:name=".friend.SearchNearbyActivity"
            android:label="@string/action_add_friends">
        </activity>

        <activity
            android:name=".PhotoFullscreenActivity"
            android:label="@string/action_show_photo">
        </activity>

        <activity
            android:name=".stories.MyStoriesActivity"
            android:label="@string/text_title_my_stories">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.unimelb.gof.wesnap.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>